<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--  告诉spring要创建哪个对象
        id 遵循变量命名规则,唯一标识一个雷
        class 是类的全限定名,不能是接口

      -->
    <bean id="daoImpl" class="com.hyc.dao.impl.DaoImpl"/>

<!--    类必须要有空参的构造器-->

    <bean id="student" class="com.hyc.pojo.Student">
        <property name="name" value="Tom"/>
        <property name="age" value="26"/>
        <property name="school" ref="school"/>
    </bean>
<!--    应用类型设值注入的时候使用ref属性指向另一个对象-->
    <bean id="school" class="com.hyc.pojo.School">
        <property name="name" value="清华" />
        <property name="address" value="北京" />
    </bean>

</beans>

<!-- bean是指Java的对象,spring中对象称为bean -->
<!-- spring-beans.xsd是约束文件 -->